GIT_USER_NAME="Your Name"
GIT_USER_EMAIL="you@example.com"
GITHUB_GIT_PROTOCOL="https"

COLIMA_CPU="4"
COLIMA_MEMORY="8"
COLIMA_DISK="60"

PYTHON_VERSION="3.12"
NODE_VERSION="lts"
GO_VERSION="latest"
JAVA_VERSION="21"
