GIT_USER_NAME="Your Name"
GIT_USER_EMAIL="you@example.com"

COLIMA_CPU="4"
COLIMA_MEMORY="8"
COLIMA_DISK="60"

LOCAL_EDGE_KIND_CLUSTER_NAME="local-edge"
LOCAL_EDGE_KIND_INGRESS_HTTP_PORT="8080"
LOCAL_EDGE_KIND_INGRESS_HTTPS_PORT="8443"

PYTHON_VERSION="latest"
NODE_VERSION="lts"
GO_VERSION="latest"
JAVA_VERSION="25"
GROOVY_VERSION="latest"
LUA_VERSION="latest"
RUST_VERSION="latest"
BUN_VERSION="latest"
DOTNET_VERSION="10"
RUBY_VERSION="latest"
PHP_VERSION="latest"
KOTLIN_VERSION="latest"
ZIG_VERSION="latest"
